@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Staatliches&display=swap");
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --black: #1d1d1f;
  --white: #ffffff;
  --blue: #06c;
}

body {
  color: var(--black);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 56px;
  margin-top: 20px;
}

p {
  font-size: 28px;
  margin-top: 6px;
}

a {
  font-size: 21px;
  color: var(--blue);
  margin-top: 14px;
  display: inline-block;
}

a:nth-of-type(2n) {
  margin-left: 35px;
}

img {
  margin-top: 30px;
}

p > img {
  margin: 0;
  margin-bottom: -10px;
}